.card {
    flex: 1 1 320px;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacer-md);
    border: 8px solid var(--color-border);
    padding: var(--spacer-md);
    background-color: var(--color-background);
    color: var(--color-text);
    box-shadow: 0 0 var(--spacer-xs) rgba(0,0,0,0.1);
}
.header {
    border-bottom: 4px solid var(--color-border);
    margin-top: calc(-1 * var(--spacer-xs));
    margin-left: calc(-1 * var(--spacer-md));
    padding-left: var(--spacer-md);
    padding-bottom: var(--spacer-xs);
}
.main {
} 
.buttons {
    display: flex;
    gap: var(--spacer-xs);
}