.card {
    flex: 1 1 320px;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacer-md);
    border: 2px solid var(--color-border);
    padding: var(--spacer-md);
}
.header {
    border-bottom: 2px dashed var(--color-border);
}
.main {
} 
.buttons {
    display: flex;
    gap: var(--spacer-xs);
}