:root {
    --color-background: #104a62;
    --color-text: #fff;
    --color-border: #fff;
    --color-interactive: #419cbd;
}

.palette--gray {
    --color-background: #cfe6d8;
    --color-text: #111;
    --color-border: #111;
    --color-interactive: #415a25;
}
.palette--green {
    --color-background: #D9EECB;
    --color-text: #111;
    --color-border: #111;
    --color-interactive: #204a64;
}
