@import "reset";
@import "typography";
@import "palettes";

:root {
  --spacer-xxs: 4px;
  --spacer-xs: 8px;
  --spacer-sm: 16px;
  --spacer-md: 24px;
  --spacer-lg: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: #f2f2f2;
  background-image: url("/paper.png");
  * {
    box-sizing: border-box;
  }
}
main {
  padding: var(--spacer-lg) 0;
}
.container {
  margin: 0 auto;
  padding: 0 var(--spacer-sm);
  max-width: 1280px;
  width: 100%;
}

